<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MML{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar">
    <a href="/series/plan-to" id="planTo">🦚</a>
    <a href="/series/reading" id="reading">📖</a>
    <a href="/series/completed" id="completed">✅</a>
    <a href="/series/one-shots" id="oneShots">☑️</a>
    <a href="/series/on-hold" id="onHold">⏸️</a>
    <a href="/series/dropped" id="dropped">⏹️</a>
    <a href="/series/ongoing" id="ongoing">▶️</a>
    {% block main_menu %}{% endblock %}
    <a href="/integrations">🔗</a>
    <a href="/settings">⚙️</a>
    <a href="/logout">🚪</a>
</nav>
{% block content %}{% endblock %}
<script src="/static/script.js"></script>
{% block script %}{% endblock %}
</body>
</html>