{% extends "base.html" %}
{% block title %}{{ page_title }}List | MML{% endblock %}
{% block main_menu %}
    <button onclick="toggleFilterMenu()">☰</button>
{% endblock %}

{% block content %}
    <div class="filter-menu hidden" id="filterMenu">
        <div class="filter-menu__types">
            <button class="type-button active" data-type="all" onclick="selectType(this)">🌐</button>
            <button class="type-button" data-type="manga" onclick="selectType(this)">🇯🇵</button>
            <button class="type-button" data-type="manhwa" onclick="selectType(this)">🇰🇷</button>
            <button class="type-button" data-type="manhua" onclick="selectType(this)">🇨🇳</button>
            <button class="type-button" data-type="minor" onclick="selectType(this)">🏳</button>
        </div>

        <div class="sort-menu">
            <label for="sortSelect">Sort by:</label>
            <select class="sort-select" id="sortSelect" onchange="applySorting()">
                <option value="">Default</option>
                <option value="rating-mu">Rating (MU)</option>
                <option value="rating-dex">Rating (Dex)</option>
                <option value="rating-mal">Rating (MAL)</option>
                <option value="title">Title</option>
                <option value="time">Time</option>
            </select>
        </div>

        <div class="filter-menu__filters">
            <button class="genre-button" data-genre="Josei" onclick="toggleFilter(this)">Josei</button>
            <button class="genre-button" data-genre="Shoujo" onclick="toggleFilter(this)">Shoujo</button>
            <button class="genre-button" data-genre="Shounen" onclick="toggleFilter(this)">Shounen</button>
            <button class="genre-button" data-genre="Seinen" onclick="toggleFilter(this)">Seinen</button>
            <button class="genre-button" data-filter="Webtoon" onclick="toggleFilter(this)">Webtoon</button>
            <button class="genre-button" data-filter="Romance" onclick="toggleFilter(this)">Romance</button>
            <button class="genre-button" data-filter="Fantasy" onclick="toggleFilter(this)">Fantasy</button>
            <button class="genre-button" data-filter="European" onclick="toggleFilter(this)">European</button>
            <button class="genre-button" data-filter="Asian" onclick="toggleFilter(this)">Asian</button>
            <button class="genre-button" data-filter="Modern" onclick="toggleFilter(this)">Modern</button>
            <button class="genre-button" data-filter="isekai" onclick="toggleFilter(this)">Isekai</button>
            <button class="genre-button" data-filter="Time Rewind" onclick="toggleFilter(this)">Time Rewind</button>
            <button class="genre-button" data-filter="Villainess" onclick="toggleFilter(this)">Villainess</button>
            <button class="genre-button" data-filter="Revenge" onclick="toggleFilter(this)">Revenge</button>
            <button class="genre-button" data-filter="Office" onclick="toggleFilter(this)">Office</button>
            <button class="genre-button" data-filter="Sub-Boss" onclick="toggleFilter(this)">Sub-Boss</button>
            <button class="genre-button" data-filter="Showbiz" onclick="toggleFilter(this)">Showbiz</button>
            <button class="genre-button" data-filter="School Life" onclick="toggleFilter(this)">School Life</button>
            <button class="genre-button" data-filter="Sensei" onclick="toggleFilter(this)">Sensei</button>
            <button class="genre-button" data-filter="Age Gap" onclick="toggleFilter(this)">Age Gap</button>
            <button class="genre-button" data-filter="Childhood F." onclick="toggleFilter(this)">Childhood Friends</button>
            <button class="genre-button" data-filter="Con. Marr.,Arranged Marr." onclick="toggleFilter(this)">Fake Marriage</button>
            <button class="genre-button" data-filter="Incest" onclick="toggleFilter(this)">inc.</button>
            <button class="genre-button" data-filter="Harem,Reverse Harem" onclick="toggleFilter(this)">Harem</button>
            <button class="genre-button excluded" data-filter="nsfw" onclick="toggleFilter(this)">NSFW</button>
        </div>
        <div class="filter-menu__actions">
            <button onclick="applyFilters()">Apply Filters</button>
            <button onclick="resetFilters()">Reset Filters</button>
        </div>
    </div>
    <main class="main-content" id="mainContent">
        <div class="table-container">
            <h2>{{ page_title }} List</h2>
            <div id="loadingSpinner" class="loading-spinner hidden">Loading...</div>
            <table class="series-table" id="seriesTable">
                <thead>
                <tr>
                    <th style="width: 150px;">Thumbnail</th>
                    <th>Titles & Rating & Links</th>
                    <th>Genres</th>
                    <th>Description</th>
                    <th>Vol-Ch</th>
                </tr>
                </thead>
                <tbody id="seriesTableBody">
                <!-- Data will be loaded here -->
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/series-common.js"></script>
    <script src="/static/list.js"></script>
{% endblock %}