{% extends "base.html" %}
{% block title %}MML {{ page_title }} List {% endblock %}
{% block main_menu %}
<button onclick="toggleFilterMenu()">☰</button>{% endif %}
{% endblock %}

{% block content %}
    <div class="filter-menu hidden" id="filterMenu">
        <div class="filter-menu__types">
            <button class="type-button" data-type="manga" onclick="selectType()">🌐</button>
            <button class="type-button" data-type="novel" onclick="selectType()">🇯🇵</button>
            <button class="type-button" data-type="manhwa" onclick="selectType()">🇰🇷</button>
            <button class="type-button" data-type="manhua" onclick="selectType()">🇨🇳</button>
            <button class="type-button" data-type="webtoon" onclick="selectType()">🏳</button>
        </div>
        <div class="filter-menu__filters">
            <div class="filter-menu__row">
                <button class="genre-button" data-genre="Josei" onclick="toggleFilter()">Josei</button>
                <button class="genre-button" data-genre="Shoujo" onclick="toggleFilter()">Shoujo</button>
                <button class="genre-button" data-genre="Shounen" onclick="toggleFilter()">Shounen</button>
                <button class="genre-button" data-genre="Seinen" onclick="toggleFilter()">Seinen</button>
            </div>
            <div class="filter-menu__row">
                <button class="genre-button" data-filter="Webtoon" onclick="toggleFilter()">Webtoon</button>
                <button class="genre-button" data-filter="Romance" onclick="toggleFilter()">Romance</button>
                <button class="genre-button" data-filter="Revenge" onclick="toggleFilter()">Fantasy</button>
            </div>
            <div class="filter-menu__row">
                <button class="genre-button" data-filter="European" onclick="toggleFilter()">European</button>
                <button class="genre-button" data-filter="Asian" onclick="toggleFilter()">Asian</button>
                <button class="genre-button" data-filter="Modern" onclick="toggleFilter()">Modern</button>
            </div>
            <div class="filter-menu__row">
                <button class="genre-button" data-filter="isekai" onclick="toggleFilter()">Isekai</button>
                <button class="genre-button" data-filter="Time Rewind" onclick="toggleFilter()">Time Rewind</button>
                <button class="genre-button" data-filter="Villainess" onclick="toggleFilter()">Villainess</button>
            </div>
            <div class="filter-menu__row">
                <button class="genre-button" data-filter="Office" onclick="toggleFilter()">Office</button>
                <button class="genre-button" data-filter="Sub-Boss" onclick="toggleFilter()">Sub-Boss</button>
                <button class="genre-button" data-filter="Showbiz" onclick="toggleFilter()">Showbiz</button>
            </div>
            <div class="filter-menu__row">
                <button class="genre-button" data-filter="School" onclick="toggleFilter()">School</button>
                <button class="genre-button" data-filter="Sensei" onclick="toggleFilter()">Sensei</button>
                <button class="genre-button" data-filter="Age Gap" onclick="toggleFilter()">Age Gap</button>
            </div>
            <div class="filter-menu__row">
                <button class="genre-button" data-filter="Childhood F." onclick="toggleFilter()">Childhood Friends
                </button>
                <button class="genre-button" data-filter="Con. Marr.,Arranged Marr." onclick="toggleFilter()">Fake
                    Marriage
                </button>
            </div>
            <div class="filter-menu__row">
                <button class="genre-button" data-filter="inc." onclick="toggleFilter()">inc.</button>
                <button class="genre-button" data-filter="Harem" onclick="toggleFilter()">Harem</button>
            </div>
            <input class="genre-input" type="text" id="genreInput" onload="applyFilters()"
                   placeholder="genre1, genre2, -genre3"
                   onkeyup="applyFilters()">
        </div>
        <div class="filter-menu__actions">
            <button onclick="applyFilters()">Apply Filters</button>
            <button onclick="resetFilters()">Reset Filters</button>
        </div>
    </div>
    <main class="content" id="content">
        <div class="table-container">
            <h2>{{ page_title }} List</h2>
            <table class="series-table" id="seriesTable">
                <thead>
                <tr>
                    <th style="width: 110px;">Picture</th>
                    <th>Names & Rating & Links</th>
                    <th style="">Genres</th>
                    <th>Description</th>
                    <th>Vol-Ch</th>
                </tr>
                </thead>
                <tbody id="seriesBody">
                <!-- TODO: handle data -->
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="/static/list.js"></script>{% endblock %}